{{define "yield"}}
<form action="{{.Action}}" method="{{.SubmitMethod}}">
  {{if .CsrfToken }}
  <input type="hidden" name="csrf_token" value="{{ .CsrfToken }}" />
  {{end }}
  <input type="hidden"  name="method" value="password"/>

{{/*  <input type="hidden" name="challenge" value="{{ challenge }}" />*/}}
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" class="form-control" name="password_identifier" placeholder="Enter your email address" />
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" class="form-control" name="password" />
  </div>

{{/*  <label for="remember">Remember me</label>*/}}
{{/*  <input type="checkbox" id="remember" name="remember" value="1" />*/}}
  <button type="submit" class="btn btn-primary">Login</button>
</form>
{{end}}